<header>
  <div class="custom-main-header">
    <a href="/">
      <!-- Imagen para Desktop -->
      <img
        src="/assets/vtex.file-manager-graphql/images/1c67b0d8-8f88-4607-8f83-6798b47d5926___979815c1bacafe355d5940cc1564f552.png"
        alt="Logo - Mercacentro" 
        class="main-logo main-logo-desktop" 
        loading="lazy">
      
      <!-- Imagen para Mobile -->
      <img
        src="/assets/vtex.file-manager-graphql/images/6141265d-e501-42c8-9ff7-a7fbfe66c690___a15f15049211b023a72db43939f0fe55.png"
        alt="Logo - Mercacentro" 
        class="main-logo main-logo-mobile" 
        loading="lazy">
    </a>
  </div>
</header>