.sliderTrack--minicart {
    transform: unset !important;
    width: 100% !important;
    display: block;
}

.slide--minicart--visible {
    width: 100% !important;
    padding: 0 !important;
}

.sliderLayoutContainer--minicart {
    padding: 0 !important;
}

.slide--minicart--hidden {
    display: none;
}

.infoCardImageContainer--categoris,
.infoCardTextContainer--categoris {
    width: 100%;
    text-align: center;
}

.infoCardContainer--categoris {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
}

.infoCardTextContainer--categoris {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideChildrenContainer--categoris {
    align-items: baseline;
}

.sliderLayoutContainer--categoris{
    width: calc(100% - 80px);
    margin: 40px auto;
}

.paginationDotsContainer--categoris {
    bottom: -40px !important;
}

.infoCardCallActionText--categoris {
    margin: 0;
    font-family: 'Montserrat-Bold';
    text-decoration: none;
}

.infoCardCallActionContainer--categoris {
    margin: 5px 0;
    width: 100%;
    text-decoration: none;
}


.infoCardImage--categoris {
    width: auto;
    height: 50px;
}

:global(.vtex-shelf-1-x-title) {
    font-family: 'Inter-Bold';
    font-size: 22px;
    line-height: 27px;
    justify-content: flex-start;
    border-bottom: 1px solid #90B51B;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

:global(.vtex-shelf-1-x-dot),
.paginationDot {
    background: #D9D9D9;
}

:global(.vtex-shelf-1-x-dot--isActive),
.paginationDot--isActive {
    background-color: #90B51B;
}

.sliderTrackContainer--banner_slider {
    margin-bottom: 30px;
}

.paginationDotsContainer {
    bottom: 10px;
}

.paginationDot--banner_slider {
    width: 15px !important;
    height: 5px !important;
    border-radius: 4px !important;
}

.paginationDot--banner_slider--isActive {
    background-color: #E30613;
    width: 50px !important;
    border-radius: 5px;
}

:global(.vtex-shelf-1-x-relatedProducts),
.sliderLayoutContainer--tabs {
    margin-bottom: 50px;
    padding: 0 15px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--banner-shelf) .sliderLayoutContainer--tabs {
    padding-left: 30px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--banner-shelf) .sliderLeftArrow--tabs {
    left: 26px;
}

.sliderTrackContainer--tabs {
    padding-bottom: 50px;
}

:global(.vtex-shelf-1-x-slide) {
    padding: 0 10px 10px 10px;
}

.slide--tabs {
    padding: 0 10px;
}

.caretIcon--categoris,
:global(.vtex-shelf-1-x-caretIcon),
.caretIcon--tabs {
    width: 12px;
    height: 12px;
    color: #90B51B;
}

.sliderArrows--categoris,
:global(.vtex-shelf-1-x-arrow),
.sliderArrows--tabs {
    border-radius: 50%;
    border: 1px solid #dedede;
    width: 30px;
    height: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff !important;
    justify-content: center;
    align-items: center;
}


.sliderRightArrows--categoris,
.sliderRightArrow--tabs {
    right: 36px;
}

.sliderLetArrows--categoris,
.sliderLeftArrow--tabs {
    left: 36px;
}

.caretIcon--banner_slider {
    width: 12px;
}

.sliderArrows--banner_slider {
    background: #fff !important;
    margin: 0;
    padding: 5px;
    opacity: 0.7;
    display: none;
    transition: all 0.2s ease;
}

.sliderLeftArrow--banner_slider {
    border-radius: 0 5px 5px 0;
}

.sliderRightArrow--banner_slider {
    border-radius: 5px 0 0 5px;
}

.sliderLayoutContainer--banner_slider:hover .sliderArrows--banner_slider {
    display: flex !important;
}

@media screen and (min-width: 1026px) {
    .slide--minicart {
        margin-bottom: 15px;
    }

    :global(.vtex-shelf-1-x-relatedProducts),
    .sliderLayoutContainer--tabs {
        padding: 0 40px;
    }
}

@media screen and (max-width: 1025px) {
    
    .imageElement--banner_slider {
        border-radius: 10px;
    }
    .sliderTrackContainer--tabs {
        padding-bottom: 40px;
    }

    .sliderLayoutContainer--banner_slider {
        padding: 15px 15px 0 15px;
    }

    .sliderLayoutContainer--categoris{
        width: calc(100% - 30px);
        margin: 30px auto;
    }
    
    .sliderLayoutContainer--tabs {
        padding: 0 5px;
        margin-bottom: 25px;
    }

    .imageElementLink--banner_aux {
        display: flex;
        width: 100%;
    }

    .imageElement--banner_aux {
        border-radius: 10px;
    }

    .slideChildrenContainer--banner_aux {
        padding: 10px;
    }

    .sliderLayoutContainer--banner_aux {
        padding-left: 5px;
        margin-bottom: 40px;
    }
}