.quantitySelectorContainer {
    height: 36px;
    margin: 0;
}

:global(.vtex-numeric-stepper__input),
:global(.vtex-numeric-stepper__plus-button),
:global(.vtex-numeric-stepper__minus-button) {
    height: 36px;
    border:none;
    outline: none;
    background-color: #f5f5f5;
}

:global(.vtex-numeric-stepper__input) {
    max-width: 88px;
}

:global(.vtex-numeric-stepper__minus-button) {
    border-radius: 50px 0 0 50px;
}
:global(.vtex-numeric-stepper__plus-button) {
    border-radius: 0 50px 50px 0;
}

:global(.vtex-numeric-stepper__plus-button__text),
:global(.vtex-numeric-stepper__minus-button__text) {
    font-size: 0;
}

:global(.vtex-numeric-stepper__minus-button__text) {
    width: 12px;
    height: 12px;
}

:global(.vtex-numeric-stepper__input) {
    font-size: 14px;
    font-family: 'Montserrat-Bold';
}