.stackItem--pdp {
    left: 95px;
    top: 10px;
}

.stackItem--wishlist {
    bottom: 70px;
    top: unset;
    right: 9px;
    left: unset;
}

.stackItem--wishlist :global(.vtex-button__label) {
    padding: 0;
}

.stackItem--quick-view {
    bottom: 30px;
    top: unset;
    right: 10px;
    left: unset;
}

.stackItem--quick-view,
.stackItem--wishlist {
    display: none;
    transition: all 0.3s ease;
}

:global(.vtex-flex-layout-0-x-flexRow--quick-view) .stackItem--pdp {
    left: 0;
    top: 0;
}

@media screen and (min-width: 1026px) {
    :global(.vtex-product-summary-2-x-element):hover .stackItem--wishlist,
    :global(.vtex-product-summary-2-x-element):hover .stackItem--quick-view {
        display: initial;
    }
}

@media screen and (max-width: 1025px) {
    .stackItem--image-mobile--pdp {
        left: unset;
        right: 0;
    }
    .stackItem--image-mobile--pdp :global(.vtex-button__label){
        padding: 0;
    }

    .stackItem--image-mobile--pdp :global(.vtex-wish-list-1-x-outline)::before {
        background: transparent;
        color: #E30613;
        border: 1px solid #e6e6e6;
    } 
}