.paper--quick-view {
    width: 700px;
    height: 360px;
    border-radius: 15px;
}

.closeButtonContainer {
    position: absolute;
    right: 10px;
    top: 0px;
    border: none;
}

.closeIcon {
    color: #E30613;
    width: 20px;
}

@media screen and (min-width: 1026px) {}

@media screen and (max-width: 1025px) {}