.currencyLiteral {
    display: none;
}

.savings {
    font-size: 12px;
    font-family: 'Montserrat-Bold';
    background: #FBBA00;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 3px;
    margin-bottom: 7px;
}

.sellingPrice {
    display: flex;
}

.listPriceValue {
    color: #00000060;
}

.sellingPriceValue {
    font-family: 'Montserrat-Bold';
    color: #000000;
    margin-bottom: 7px;
}

.savings--pdp {
    font-size: 14px;
    border-radius: 5px 15px 15px 5px;
    padding: 8px 12px;
}

.stackItem--pdp {
    left: 95px;
    top: 10px;
}

.sellerNameContainer {
    font-size: 12px;
    text-align: left;
    width: 100%;
    display: flex;
    margin: 0;
    gap: 5px;
    margin-bottom: 10px;
}



.sellerName {
    font-family: 'Montserrat-SemiBold';
    max-width: 110px;
}

.sellerNameContainer--pdp {
    font-size: 14px;
    line-height: 15px;
}

.sellerName--pdp {
    font-family: 'Montserrat-Regular';
    max-width: unset;
}

.sellerName {
    min-height: 28px;
}

@media screen and (min-width: 1026px) {
    .sellerNameContainer--pdp {
        font-family: 'Montserrat-Bold';
        margin-bottom: 20px;
    }

    .sellingPriceValue {
        font-size: 19px;
        line-height: 21px;
    }

    :global(.vtex-flex-layout-0-x-flexRow--minicart-price) .sellingPriceValue {
        font-size: 15px;
        line-height: 19px;
        margin: 0 10px 0 0;
        font-family: 'Montserrat-SemiBold';
    }

    :global(.vtex-flex-layout-0-x-flexRow--minicart-price) .listPriceValue {
        font-size: 15px;
        line-height: 19px;
        margin: 0;
    }

    .sellerNameContainer--pdp {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1025px) {
    .sellerNameContainer--pdp {
        font-size: 12px;
        line-height: 19px;
    }

    :global(.vtex-flex-layout-0-x-flexRow--main-info-mobile) .sellingPriceValue {
        font-size: 21px;
        line-height: 25px;
    }

    :global(.vtex-flex-layout-0-x-flexRow--main-info-mobile) .listPriceValue  {
        font-size: 16px;
        line-height: 19px;
    }

    .savings,
    .listPriceValue {
        font-size: 13px;
        line-height: 15px;
    }
}